<div class="flex-container" ng-controller="listController as listVm">
	<div ng-repeat="movie in listVm.movies" ng-click="listVm.getTitle(movie.Title)" class="movie-container">
		<div class="movie-title">
			{{movie.Title}}		
		</div>
		<div class="poster-container">
			<img class="poster" ng-src="{{movie.Poster != 'N/A' && movie.Poster || 'https://placeholdit.imgix.net/~text?txtsize=30&txt=Poster+not+available&w=187&h=250&txttrack=0'}}">
		</div>
		<div class="movie-stats">
			<div class="row">
				Filmed in {{movie.Year}}
			</div>
			<div class="row">
				<a href="http://www.imdb.com/title/{{movie.imdbID}}">Click here to view on IMBD</a>
			</div>
		</div>
	</div>
</div>